html .topbar {
  background-color: var(--toolbar);
  position: sticky;
  top: 0;
  z-index: 9;
  // height: $header-height;
  height: 47px !important;
}

.topbar-dd {
  min-width: 200px !important;
}

.object-cover {
  object-fit: cover;
}


.mat-mdc-menu-panel 
{
  width: 800px !important;
  max-width: 1000px !important;
  overflow: hidden !important;
}

.hover-text::hover {

color: blue;
  
}