html .topbar {
  background-color: var(--toolbar);
  position: sticky;
  top: 0;
  z-index: 9;
  // height: $header-height;
  height: 47px !important;
}

.topbar-dd {
  min-width: 200px !important;
}

.object-cover {
  object-fit: cover;
}

/* Styles for large menu */
.large-menu {
  width: 800px !important;
  max-width: 1000px !important;
  overflow: hidden !important;

  background-color: var(--cardbg) !important;
  color: var(--textPrimary) !important;
  border: 1px solid var(--borderColor) !important;
}

/* Styles for small menu */
.small-menu {
  width: 300px !important;
  max-width: 1000px !important;
  overflow: hidden !important;

  background-color: var(--cardbg) !important;
  color: var(--textPrimary) !important;
  border: 1px solid var(--borderColor) !important;
}



// .mat-mdc-menu-panel 
// {
//   width: 800px !important;
//   max-width: 1000px !important;
//   overflow: hidden !important;

//   background-color: var(--cardbg) !important;
//   color: var(--textPrimary) !important;
//   border: 1px solid var(--borderColor) !important;
// }

// :hover:not([disabled]) {
//   background: var(--hoverBgColor);
// }

// .hover-text::hover {

// color: blue;
  
// }
